@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #92a7ae;
  color: #378ea7;
  padding: 10px;
  text-align: center;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px 8px 	#cecece;
}

body{
 font-family: 'Roboto', sans-serif; 
}

.mrman{
  color:#23366b;
}


.menu{
  background-color: #23366b;
  padding: 10px 50px;
  
}


.menu>a{
  margin: 5px;
  color: #24d3e1;
}

.main{
 flex: 5; 
  padding: 10px 100px;;
}

.mainheader{
  font-family: 'Courgette', cursive;
  text-align: center;
  background-color: #23366b;
  color: #cecece;
  padding: 5px;
  border-radius: 10px;
  margin-bottom:10px;
  box-shadow: 4px 4px 4px black;
}

table, th, td {
    margin-top: 10px;
}

th, td {
    padding: 5px;
  text-align: center;
}

.assign{
 font-size: 20px; 
}

.units{
 height: 45px; 
  overflow: hidden;
  transition: all 1s;
}

.units:hover{
 height: 400px; 
overflow: auto;
}