@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #92a7ae;
  color: #378ea7;
  padding: 10px;
  text-align: center;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px 8px 	#cecece;
  margin-bottom: 5px;
  box-shadow: 4px 4px 8px black;
}

body{
 font-family: 'Roboto', sans-serif; 
}

.welcome{
  font-family: 'Courgette', cursive;
}

.mrman{
  color:#23366b;
}


.container{
 display: flex;
}

.menu{
  background-color: #23366b;
  order: 2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 50px;
  height: 300px;
  box-shadow: 4px 4px 4px black;
}


.menu>a{
  margin: 5px;
  color: #24d3e1;
}

.main{
 flex: 5; 
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 50px;
}

.main>p{
 padding: 10px; 
}

.mainheader{
  font-family: 'Courgette', cursive;
  text-align: center;
  background-color: #92a7ae;
  color: #23366b;
  padding: 5px;
  border-radius: 10px;
  margin-bottom:10px;
  box-shadow: 4px 4px 4px black;
}

table, th, td {
    margin-top: 10px;
}

th, td {
    padding: 5px;
  text-align: center;
}





@media only screen and (max-width: 800px){
  .menu{margin: 0; border-radius: 0;}
  .main{margin: 0; width: 50px;}
  .mainheader{border-radius: 0;}
  header>h1{font-size: 20px;}
}