@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #92a7ae;
  color: #378ea7;
  padding: 10px;
  text-align: center;
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px 8px 	#cecece;
}

body{
 font-family: 'Roboto', sans-serif; 
}

.welcome{
  margin-top: 10px;
  font-family: 'Courgette', cursive;
}

.mrman{
  color:#23366b;
}

.menu{
  background-color: #23366b;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 4px 4px 4px black;
}


.menu>a{
  margin: 5px;
  color: #24d3e1;
}

.main{
  margin: 10px 100px;

}

p{
 padding: 5px 20px; 
}

.mainheader{
  font-family: 'Courgette', cursive;
  text-align: center;
  background-color: #92a7ae;
  color: #23366b;
  padding: 5px;
  border-radius: 10px;
  margin-bottom:10px;
  box-shadow: 4px 4px 4px black;
}

table, th, td {
    margin-top: 10px;
}

th, td {
    padding: 5px;
  text-align: center;
}


.flexcontainer{
 display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.units{
  width: 150px;
  height: 150px;
  background-color: #92a7ae;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}



@media only screen and (max-width: 800px){
  .main{margin: 0;}
  .mainheader{border-radius: 0;}
  header>h1{font-size: 20px;}
}